<a href="https://colab.research.google.com/github/Adda2003/climate_disaster_predicton/blob/main/CWD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df1=pd.read_excel('/content/drive/MyDrive/cwd2012.xlsx')

In [ ]:
df1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 1011,Unnamed: 1012,Unnamed: 1013,Unnamed: 1014,Unnamed: 1015,Unnamed: 1016,Unnamed: 1017,Unnamed: 1018,Unnamed: 1019,Unnamed: 1020
0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.35,0.53,0.62
3,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.21,0.74,1.52,1.73,1.82
4,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,2.23,2.32,3.67,5.78,9.81,14.84,17.92,16.05,13.81,13.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.17,0.78,1.03,1.12
361,0.0,0.0,0.0,2.87,1.92,0.98,0.73,0.50,0.58,0.64,...,0.00,0.00,0.00,0.00,0.00,0.40,1.23,2.17,2.45,2.64
362,0.0,0.0,0.0,5.90,4.12,2.38,2.09,1.68,1.65,1.60,...,0.14,0.23,0.75,1.59,3.22,6.64,9.73,10.11,9.27,9.45
363,0.0,0.0,0.0,7.01,4.71,2.60,2.12,1.51,1.31,1.04,...,0.23,0.34,1.04,2.20,4.53,8.40,11.94,11.75,10.64,10.84
364,0.0,0.0,0.0,3.71,2.32,1.11,0.66,0.29,0.18,0.00,...,0.00,0.00,0.16,0.42,1.04,2.79,4.98,5.93,5.92,6.21

In [ ]:
import numpy as np
data=np.arange(1021)

In [ ]:
for i in range(1021):
  x=0
  cwd=0
  a=df1.iloc[:,i]
  for j in range(365):
    if a[j]>=1:
      x=x+1
      cwd=max(x,cwd)
    else :
      x=0
      cwd=max(x,cwd)
  data[i]=cwd

In [ ]:
data

array([34, 34, 34, ...,  9,  9,  9])

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

       0
0     34
1     34
2     34
3     71
4     71
...   ..
1016   7
1017   8
1018   9
1019   9
1020   9

[1021 rows x 1 columns]

In [ ]:
df=df.T

In [ ]:
df.to_excel("cwd2012.xlsx")